.footerCls{
    position: fixed;
        z-index: 11;
    height: 44px;
    left: 0px;
        background: #000;
    bottom: 0px;
    width: 100%;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12)
}



#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #192125;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #192125;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #192125;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #192125;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #192125;
}

#sidebarCollapse{
  cursor: pointer;

}